body{
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}
.resize{
    background-color:#140401;
    color:#FCFCE3;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* position: fixed;
    top: 0%;
    width: 100%; */
}
.resize h1{
   margin: 1rem;
}
.resize ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.resize ul li {
    padding: 10px;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FCFCE3;
    transition: 0.5s;
}
nav ul li a:hover {
    color: white;
    font-size: 20px;
    overflow: hidden;
}
html{scroll-behavior: smooth;}
#home{
    justify-content: center;
    align-content: center;
    text-align: center;
    /* background-image: url('../images/IMG-20230626-WA0024.jpg');
    background-size: cover; */
}
#home video{
    object-fit: cover;
    position: sticky;
    top: 5%;
    z-index: -1;
}
#videos{
    justify-content: center;
    align-content: center;
    text-align: center;
}
#videos img{
    position: sticky;
    top: 0%;
    z-index: -1;
}
#videos h1{
    color: #140401;
}
.myvideos{
    display: flex;
    gap: 2rem;  
}
#github{
    background-color: #e7e0e0;
    text-align: center;
    padding: 10px;
}

#github div{
    display: flex;
    justify-content: center;
    padding: 40px;
}

#stack{
    display:flex;
}
#stack .writeup{
    background-color:#FCFCE3;
}
#stack img{
    position: sticky;
    top: 0%;
    z-index: -1;
}
#stack button{
    background-color: #140401;
    color: #FCFCE3;
    padding: 10px;
    border-radius: 5px;   
    border: none;
}
#stack button:hover{
    color: white;
    cursor: pointer;
}
#linkedin{
    justify-content: center;
    background-color: blanchedalmond;
}
#linkedin h1{
    text-align: center;
    color: #140401;
}
#linkedin h1 a{
    text-decoration: none;
    color: #140401;
}
#linkedin div{
    display: flex;

}
#linkedin button{
    background-color: #140401;
    color: #FCFCE3;
    padding: 10px;
    border-radius: 5px;   
    border: none;
}
#linkedin button:hover{
    color: white;
    cursor: pointer;
    overflow: hidden;
}

#email{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/IMG-20230626-WA0024.jpg);
    background-size: cover;
}
#email .contact{
    display: flex;
    color: #140401 ;
    justify-content:space-between ;
}
#email .socials{
    display: flex;
}
#email input{
    background-color:#140401 ;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 4px;
}
#email button{
    background-color:#140401 ;
    color: #FCFCE3;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
/* #contact img{
    padding: 10px;
    position: sticky;
    bottom:0%;
    z-index: -1;
    background-size: cover;
}
 */
footer{
    text-align: center;
}


