body{
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.resize{
    background-color:#140401;
    color:#FCFCE3;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* position: fixed;
    top: 0%;
    width: 100%; */
}
.resize h1{
   margin: 1rem;
}
.resize ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.resize ul li {
    padding: 10px;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FCFCE3;
    transition: 0.5s;
}
nav ul li a:hover {
    color: white;
    font-size: 20px;
    overflow: hidden;
}
.icon{
    margin-right: 8px;
}
html{scroll-behavior: smooth;}
#home{
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    position: sticky;
    top: 5%;
    object-fit: cover;
    z-index: -1;
    }
.tiana{
    margin-bottom: 500px !important;
    color: #FCFCE3;
    font-size: 30px;
}

#videos{
    justify-content: center;
    align-content: center;
    text-align: center;
}
#videos img{
    position: sticky;
    top: 0%;
    z-index: -1;
}
#videos h1{
    color: #140401 !important;
}
.myvideos{
    display: flex;
    gap: 2rem;  
}
#github{
    background-color: #e7e0e0;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#github div{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 40px;
    margin: 10px;
    gap: 1rem;
}

#stack{
    display:flex;
}
#stack .writeup{
    background-color:#FCFCE3;
    margin: 8px;
    padding: 45px;
}
#stack img{
    position: sticky;
    top: 0%;
    z-index: -1;
    padding: 20px;
}
#stack button{
    background-color: #140401;
    color: #FCFCE3;
    padding: 10px;
    border-radius: 5px;   
    border: none;
}
#stack button:hover{
    color: white;
    cursor: pointer;
}
#linkedin{
    justify-content: center;
    background-color: blanchedalmond;
    padding: 5px;
}
#linkedin h1{
    text-align: center;
    color: #140401;
}
#linkedin h1 a{
    text-decoration: none;
    color: #140401;
}
#linkedin div{
    display: flex;

}
#linkedin button{
    background-color: #140401;
    color: #FCFCE3;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;   
    border: none;
}
#linkedin button:hover{
    color: white;
    cursor: pointer;
    overflow: hidden;
}

#email{
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    /* background-image: url(../images/IMG-20230626-WA0024.jpg); */
   /*  background-size: cover;
    background-position:bottom center; */
    padding: 30px;
    margin: 20px;
}
#email .contact{
    display: flex;
    color: #140401 ;
    justify-content:space-between ;

}
#email .socials{
    display: flex;
    padding: 10px;

}
#email input{
    background-color:#140401 ;
    color: white;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
}
#email button{
    background-color:#140401 ;
    color: #FCFCE3;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
/* #contact img{
    padding: 10px;
    position: sticky;
    bottom:0%;
    z-index: -1;
    background-size: cover;
}
 */
footer{
    text-align: center;
}

.details label{
    color: rgb(29, 15, 15);
}
@media only screen and (max-width: 768px){
    .resize{
       display: none; 
    }    
    #background-video{
        width: 100vw;
        height: auto;
        top: 0%;
    }
    .tiana{
        font-size: calc(0.5rem + 1vw);
    }
    #videos img{
        width: 100%;
        height: auto;         
    }
    #videos .myvideos{
        display: block; 
    }
    #github div{
        display: block;
    }
    #github img{
        width: 100%;
        height: auto;
    }
    #stack img{
        display: none;
    }
    #linkedin div{
        display: block;
    } 
    #email .contact{
        display: block;
        padding:3px;
        margin: 2px;
    }
    #email .details{
        width: 70vw;
        height: auto;
    }
    #linkedin h1{
        font-size: clamp(2rem, 5vw, 3rem);
    }
}